
<!DOCTYPE html>
<html>
	<head>
////////////////////FILL 
	</head>

	<body>
		<p id="pageTitle">Train Management System: Employee View</p>
		<p id="description">This view allows employees to view their work schedual , including the times, stations associated to the voyage they will be working. </p>
	
		<form action="employee.php" method="post"
		
			<b> Please enter your employeeID <br><br />			
			<input> type="text" name="employeeID"><br />
			
		
		<table summary="table">
			<caption>
				Your schedual
			</caption>
	</body>
