<html>
	<head>
		<title>Train Management System</title>
	</head>
	<body>
		<h1>Views</h1>
		<ul>
		<li><a href="Passenger/passenger.html">Passenger</a></li>
		<li><a href="travelAgent/travelAgent.php">Travel Agent</a></li>
		<li><a href="employee/employeeViewSchedule.html">Employee</a></li>
		<li><a href="EmployeeScheduler/index.php">Manager (Employee Scheduler)</a></li>
		<li><a href="Train Scheduler/scheduler.html">Manager (Train Scheduler)</a></li>
		<li><a href="HeadOffice/index.php">Head Office</a></li>
		<li><a href="Admin/test.html">System Admin</a></li>
		</ul>
	</body>
</html>
