<!DOCTYPE html>
<html>
	<head>

	</head>
	
	<body>
<b> Passport Number <br><br />
		<form action="passengerInfo.php" method="post" 
			<b> Please enter the passengerID you would like to delete. <br><br />
			<input type= "text" name= "passengerID"><br />
			<input type="submit" value="Delete Passenger">
			
		</form> 
			
			<form action=Passenger
			<input type= "text" name= "passpostNumber"><br />
			<b> Full Name <br><br />
			<input type= "text" name= "name"><br />
			<b> Nationality <br><br />
			<input type= "text" name= "nationality"><br />
			<b> Address <br><br />
			<input type= "text" name= "address"><br />
			<b> Phone Number <br><br />
			<input type= "text" name= "phoneNumber"><br />
			<b> Payment Type <br><br />
			<input type= "text" name= "paymentType"><br />
			</body>
			
			
			if(isset($_POST['reset'])) { /* ...clear and reset stuff... */ }
else if(isset($_POST['submit']) { /* ...submit stuff... */ }
