<!DOCTYPE html>
<html>
	<head>
		<!-- This is a Google hosted library for javascript called jQuery. Your computer must be online to fetch this library. -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script type="text/javascript" src="scheduler.js"></script>
		
		<link rel="stylesheet" type="text/css" href="scheduler.css">
 		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
 		
		<title>Train Scheduler View</title>
	</head>
	
	<body>
		<p id="pageTitle">Train Management System: Train Scheduler View</p>
		<p id="description">This view allows a manager to schedule and cancel future voyages.</p>
		<div id="pageCenter">
			<select id="routeDDL"></select>
			<select id="engineDDL"></select>
			Day<input size="4"/>
			Month<input size="4"/>
			Year<input size="6"/>
			Time<input size="8"/>
			AM/PM<input size="4"/>
		</div>
	</body>
</html>